{{ ansible_managed | comment }}
{% import  "macros.j2" as nginx_macro %}
user  {{ nginx__user }};
worker_processes  {{ nginx_worker_processes }};

pid        {{ nginx__pid_file_path }};

include {{ nginx_include_modules }};

{{ nginx_macro.option_format('error_log', nginx_error_log) -}}

events {
{% filter indent(4, indentfirst=True) %}
{{ nginx_macro.option_format('worker_connections', nginx_worker_connections) }}
{{ nginx_macro.option_format('multi_accept', nginx_multi_accept) }}
{% endfilter %}
}


http {
{% filter indent(4, indentfirst=True) %}
{{ nginx_macro.option_format('include', nginx_include_mime_types) -}}
{{ nginx_macro.option_format('default_type', nginx_default_type) -}}
{{ nginx_macro.option_format('log_format', {'main': nginx_log_format_main}) -}}
{{ nginx_macro.option_format('access_log', nginx_access_log) -}}
{{ nginx_macro.option_format('log_not_found', nginx_log_not_found) -}}
{{ nginx_macro.option_format('charset', nginx_charset) -}}
{{ nginx_macro.option_format('sendfile', nginx_sendfile) -}}
{{ nginx_macro.option_format('tcp_nodelay', nginx_tcp_nodelay) -}}
{{ nginx_macro.option_format('tcp_nopush', nginx_tcp_nopush) -}}
{{ nginx_macro.option_format('keepalive_timeout', nginx_keepalive_timeout) -}}
{{ nginx_macro.option_format('client_body_timeout', nginx_client_body_timeout) -}}
{{ nginx_macro.option_format('client_header_timeout', nginx_client_header_timeout) -}}
{{ nginx_macro.option_format('send_timeout', nginx_send_timeout) -}}
{{ nginx_macro.option_format('server_tokens', nginx_server_tokens) -}}
{{ nginx_macro.option_format('client_body_buffer_size', nginx_client_body_buffer_size) -}}
{{ nginx_macro.option_format('client_header_buffer_size', nginx_client_header_buffer_size) -}}
{{ nginx_macro.option_format('types_hash_max_size', nginx_types_hash_max_size) -}}
{{ nginx_macro.option_format('client_max_body_size', nginx_client_max_body_size) -}}
{{ nginx_macro.option_format('large_client_header_buffers', nginx_large_client_header_buffers) -}}
{{ nginx_macro.option_format('gzip', nginx_gzip) -}}
{{ nginx_macro.option_format('gzip_proxied', nginx_gzip_proxied) -}}
{{ nginx_macro.option_format('gzip_types', nginx_gzip_types) -}}
{{ nginx_macro.option_format('gzip_vary', nginx_gzip_vary) -}}
{{ nginx_macro.option_format('gzip_disable', nginx_gzip_disable) -}}
{{ nginx_macro.option_format('gzip_http_version', nginx_gzip_http_version) -}}

{{ nginx_macro.option_format('ssl_dhparam', nginx_ssl_dhparam) -}}
{{ nginx_macro.option_format('ssl_session_timeout', nginx_ssl_session_timeout) -}}
{{ nginx_macro.option_format('ssl_session_cache', nginx_ssl_session_cache) -}}
{{ nginx_macro.option_format('ssl_session_tickets', nginx_ssl_session_tickets) -}}

{{ nginx_macro.option_format('ssl_certificate', nginx_ssl_certificate) -}}
{{ nginx_macro.option_format('ssl_certificate_key', nginx_ssl_certificate_key) -}}

{{ nginx_macro.option_format('ssl_protocols', nginx_ssl_protocols) -}}
{{ nginx_macro.option_format('ssl_ciphers', nginx_ssl_ciphers) -}}

{{ nginx_macro.option_format('ssl_stapling', nginx_ssl_stapling) -}}
{{ nginx_macro.option_format('ssl_stapling_verify', nginx_ssl_stapling_verify) -}}
{{ nginx_macro.option_format('ssl_trusted_certificate', nginx_ssl_trusted_certificate) -}}
{{ nginx_macro.option_format('resolver', nginx_resolver) -}}
{{ nginx_macro.option_format('resolver_timeout', nginx_resolver_timeout) -}}

{{ nginx_macro.option_format('autoindex', nginx_autoindex) -}}

{{ nginx_macro.option_format('add_header', {'X-Frame-Options': nginx_add_headers_x_frame_options}) -}}
{{ nginx_macro.option_format('add_header', {'X-Content-Type-Options': nginx_add_headers_x_content_type_options}) -}}
{{ nginx_macro.option_format('add_header', {'X-XSS-Protection': nginx_add_headers_x_xss_protection}) -}}
{{ nginx_macro.option_format('add_header', {'Content-Security-Policy': nginx_add_headers_content_security_policy}) -}}
{{ nginx_macro.option_format('add_header', {'Cache-Control': nginx_add_headers_cache_control}) -}}
{% for add_header in nginx_add_headers %}
{{ nginx_macro.option_format('add_header', add_header) -}}
{% endfor %}

{% endfilter %}

{% for include in nginx__include %}
    include {{ include }};
{% endfor %}
}
